@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a class="btn btn-success ms-2" href="/jobs">Jobs Dashboard</a>
            

<h1>S2</h1>

<a class="btn btn-info ms-2" asp-action="ScheduleQ1" asp-controller="Home">ScheduleQ1</a>
<a class="btn btn-info ms-2" asp-action="ScheduleQ2" asp-controller="Home">ScheduleQ2</a>
<a class="btn btn-info ms-2" asp-action="ScheduleQ3" asp-controller="Home">ScheduleQ3</a>
<br />
<br />
<br />

<a class="btn btn-info ms-2" asp-action="TestEnqueueQ1" asp-controller="Home">TestEnqueueQ1</a>
<a class="btn btn-info ms-2" asp-action="TestEnqueueQ2" asp-controller="Home">TestEnqueueQ2</a>


